body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}


p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42dcs3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 300;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #000;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #000;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(0,0,0,.8);
    background-color: white;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: white;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #000;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #000;

    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 50px;
    }

    .intro .intro-body .intro-text {
        font-size: 22px;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.italic {
    font-style: italic;
}

.content-section {
    padding-top: 100px;
    align-content: center;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}
#experience {
    background-color: #fff;
    color: #333333;
}

@media(min-width:768px) {
    .content-section {
        padding-top: 150px;
    }
}

.experience-details {
    text-align: left;
    padding-top: 5px;
    line-height: 1.5;
}

.padding-5 {
    padding: 5px;
}

.padding-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    height: 300px;
    vertical-align: middle;
    background:  no-repeat center center scroll;
    background-color: #fff;
    background-position: center;
}

.nt-logo {
    height: 300px;
    vertical-align: middle;
    background: url(../img/nt-logo.jpg) no-repeat center center scroll;
    background-color: #fff;
    background-position: center;
}

.moto-logo {
    height: 300px;
    vertical-align: middle;
    background: url(../img/moto-logo.png) no-repeat center center scroll;
    background-color: #fff;
    background-position: center;
}

.fulton-logo {
    height: 300px;
    vertical-align: middle;
    background: url(../img/fulton-logo.jpg) no-repeat center center scroll;
    background-color: #fff;
    background-position: center;
}

.sejasmi-logo {
    height: 200px;
    vertical-align: middle;
    background: url(../img/sejasmi-logo.png) no-repeat center center scroll;
    background-color: #fff;
    background-position: center;
}

.education-details {
    width: 100%;
}

.skills-details {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.my-content-details {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.home { 
}

.home-extra-margin {
    margin-top: 200px;
}

.centered {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -50px; /* half the height of the element */
}